macTechnicalExamplePlatforms.xcworkspace/xcuserdata
sampleCode/osxAppLearnings/osxAppLearning21/osxAppLearning21.xcodeproj/project.xcworkspace/xcuserdata
macTechnicalness/macTechnicalness.xcodeproj/xcuserdata
sampleCode/osxAppLearnings/osxAppLearning21/osxAppLearning21.xcodeproj/xcuserdata
