<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIKit</key>
	<array>
		<dict>
			<key>title</key>
			<string>Auto Layout検証1</string>
			<key>vc</key>
			<string>AutoLayoutVerification1ViewController</string>
		</dict>
	</array>
	<key>WWW</key>
	<array>
		<dict>
			<key>title</key>
			<string>Safariブラウザからアプリ起動</string>
		</dict>
	</array>
	<key>Map</key>
	<array>
		<dict>
			<key>title</key>
			<string>アノテーション群から最適な縮尺を求める</string>
			<key>vc</key>
			<string>CalcScaleFromAnnotatonsTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>移動すると自動的にリロード</string>
			<key>vc</key>
			<string>AutomaticServerDataRequestMapTestViewController</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>CLLocationHeadingTestViewController</string>
			<key>title</key>
			<string>方位を求める</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>CLLocationTestViewController</string>
			<key>title</key>
			<string>CLLocationログテスト（時速計算）</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>GeoCodingTestViewController</string>
			<key>title</key>
			<string>ジオコーディングテスト</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MKZoomScaleテスト</string>
		</dict>
		<dict>
			<key>title</key>
			<string>住所付近に近づいたらアラート</string>
		</dict>
		<dict>
			<key>title</key>
			<string>世界測地系緯度経度確認</string>
			<key>vc</key>
			<string>WorldGeoLatitudeAndLogitudeTestViewController</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>VCMapTest1</string>
			<key>title</key>
			<string>地図を表示</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>CustomAnnotationTestViewController</string>
			<key>title</key>
			<string>カスタムアノテーションテスト</string>
		</dict>
		<dict>
			<key>vc</key>
			<string></string>
			<key>title</key>
			<string>routing Appテスト</string>
		</dict>
		<dict>
			<key>vc</key>
			<string></string>
			<key>title</key>
			<string>MKMapItemでマップアプリを開く</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MKMapItemテスト</string>
		</dict>
		<dict>
			<key>vc</key>
			<string></string>
			<key>title</key>
			<string>オーバーレイ</string>
		</dict>
	</array>
	<key>Objective-C</key>
	<array/>
	<key>Storage</key>
	<array/>
	<key>Network</key>
	<array/>
	<key>Sound</key>
	<array/>
	<key>OpenGL</key>
	<array/>
	<key>Devices</key>
	<array>
		<dict>
			<key>vc</key>
			<string>VCDeviceCameraTest1</string>
			<key>title</key>
			<string>カメラを起動(AVFouncation)</string>
		</dict>
	</array>
	<key>Core Graphics</key>
	<array/>
	<key>Core Animation</key>
	<array/>
	<key>Data</key>
	<array>
		<array>
			<string></string>
			<string>非バックアップ属性付与テスト</string>
		</array>
	</array>
</dict>
</plist>
